server:
  port: 50010
  servlet:
    context-path: /api/v1

spring:
  application:
    name: api-order-service-v1
  datasource:
    url: jdbc:postgresql://localhost:51010/orderdb
    username: orderuser
    password: orderpass
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      hibernate:
        format_sql: true