server:
  port: 50040
  servlet:
    context-path: /api/v1

spring:
  application:
    name: api-restaurant-service-v1
  datasource:
    url: jdbc:postgresql://localhost:51040/restaurantdb
    username: restaurantuser
    password: restaurantpass
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      hibernate:
        format_sql: true