server:
  port: 50050
  servlet:
    context-path: /api/v1

spring:
  application:
    name: api-restaurant-service-v2
  datasource:
    url: jdbc:postgresql://localhost:51060/restaurantv2db
    username: restaurantv2user
    password: restaurantv2pass
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      hibernate:
        format_sql: true