server:
  port: 50060
  servlet:
    context-path: /api/v1

spring:
  application:
    name: api-delivery-service-v1
  datasource:
    url: jdbc:postgresql://localhost:51060/deliverydb
    username: deliveryuser
    password: deliverypass
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      hibernate:
        format_sql: true