server:
  port: 50020
  servlet:
    context-path: /api/v1

spring:
  application:
    name: api-payment-service-v1
  datasource:
    url: jdbc:postgresql://localhost:51020/paymentdb
    username: paymentuser
    password: paymentpass
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      hibernate:
        format_sql: true